[django]
debug           = True
secret          = xxxxxxxx
allowed_hosts   = *
language_code   = en-us
time_zone       = UTC
static_root     = /var/www/html/static
sqlite_db       = db.sqlite3

[logging]
app_level       = DEBUG
app_handler     = console
django_level    = INFO
django_handler  = console
log_file        = django.log

[database]
name            = database
user            = database
pass            = xxxxxxxx
host            = mysql
port            = 3306

[twitch]
client_id      = xxx
client_secret  = xxx
redirect_uri   = xxx
response_type  = xxx
grant_type     = xxx
scope          = xxx

[discord]
webhook_url    = xxx
