{% extends "main.html" %}
{% block home_active %}active{% endblock %}
{% block title %}Home{% endblock %}
{% load home_tags %}

{% block head %}{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col">
            <h1>Twitch Oauth Generator</h1>

            <p class="lead">This is site is operated by:
                <a href="https://www.twitch.tv/smashed926" target="_blank" class="text-info">twitch.tv/smashed926</a></p>

            <div class="card-deck">
                <div class="card border-info">
                    <div class="card-body">
                        <h5 class="card-title">Implicit Code Flow</h5>
                        <p class="card-text">These are tokens that do not expire for client use such as chat bots for logging into IRC.</p>
                        <p class="card-text">This will provide you a token that will last forever.</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'oauth:token' %}" class="btn btn-outline-info btn-lg my-2" role="button">
                            Generate Client Token</a>
                        <a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#oauth-implicit-code-flow"
                           target="_blank" class="text-info">More Info</a>
                    </div>
                </div>
                <div class="card border-danger">
                    <div class="card-body">
                        <h5 class="card-title">Authorization Code Flow</h5>
                        <p class="card-text">Do <strong>NOT</strong> use this method unless you were asked to do so.</p>
                        <p class="card-text">You will <strong>NOT</strong> receive a token after you are done...</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'oauth:code' %}" class="btn btn-outline-danger btn-lg my-2" role="button">
                            Generate Application Token</a>
                        <a href="https://dev.twitch.tv/docs/authentication/getting-tokens-oauth/#oauth-authorization-code-flow"
                           target="_blank" class="text-danger">More Info</a>
                    </div>
                </div>
            </div>

            <hr>

            <p>Currently configured settings:</p>

            <table class="table">
                <thead>
                <tr>
                    <th>Setting</th><th>Current Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Client ID</td><td>{% get_env 'TWITCH_CLIENT_ID' %}</td>
                </tr>
                <tr>
                    <td>Redirect URI</td><td>{% get_env 'TWITCH_REDIRECT_URI' %}</td>
                </tr>
                <tr>
                    <td>Scope</td><td>{% get_env 'TWITCH_SCOPE' %}</td>
                </tr>
                </tbody>
            </table>

            <p>Read more about Twitch OAuth Scopes here:
                <a href="https://dev.twitch.tv/docs/authentication/#scopes" target="_blank" class="text-info">
                    https://dev.twitch.tv/docs/authentication/#scopes</a>
            </p>

        </div>
    </div>
{% endblock %}
